In [6]:
!pip install boto3

Requirement already satisfied: boto3 in c:\users\manda\anaconda3\lib\site-packages (1.21.32)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in c:\users\manda\anaconda3\lib\site-packages (from boto3) (0.5.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\manda\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: botocore<1.25.0,>=1.24.32 in c:\users\manda\anaconda3\lib\site-packages (from boto3) (1.24.46)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\manda\anaconda3\lib\site-packages (from botocore<1.25.0,>=1.24.32->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\manda\anaconda3\lib\site-packages (from botocore<1.25.0,>=1.24.32->boto3) (1.26.9)
Requirement already satisfied: six>=1.5 in c:\users\manda\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.32->boto3) (1.16.0)

In [8]:
import boto3
import pandas as pd

s3 = boto3.client('s3')

In [11]:
s3 = boto3.resource(
    service_name='s3',
    region_name='us-east-1',
    aws_access_key_id='AKIA4CTBDHHGPKTCNF52',
    aws_secret_access_key='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'
)

In [12]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

In [13]:
!pip install s3fs

Requirement already satisfied: s3fs in c:\users\manda\anaconda3\lib\site-packages (0.4.2)
Requirement already satisfied: fsspec>=0.6.0 in c:\users\manda\anaconda3\lib\site-packages (from s3fs) (2022.10.0)
Requirement already satisfied: botocore>=1.12.91 in c:\users\manda\anaconda3\lib\site-packages (from s3fs) (1.24.46)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\manda\anaconda3\lib\site-packages (from botocore>=1.12.91->s3fs) (2.8.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\manda\anaconda3\lib\site-packages (from botocore>=1.12.91->s3fs) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\manda\anaconda3\lib\site-packages (from botocore>=1.12.91->s3fs) (1.26.9)
Requirement already satisfied: six>=1.5 in c:\users\manda\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.12.91->s3fs) (1.16.0)

In [14]:
import os
os.environ["AWS_DEFAULT_REGION"] = 'us-east-1'
os.environ["AWS_ACCESS_KEY_ID"] = 'AKIA4CTBDHHGPKTCNF52'
os.environ["AWS_SECRET_ACCESS_KEY"] = '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'

In [15]:
import pandas as pd

In [16]:
import pandas as pd

# Make dataframes
data1 = pd.DataFrame({'x': [1, 2, 3], 'y': ['a', 'b', 'c']})

# Save to csv
data1.to_csv('data1.csv')

In [18]:
# Upload files to S3 bucket
s3.Bucket('s3bucketconnectproject').upload_file(Filename='data1.csv', Key='data1.csv')

In [19]:
for obj in s3.Bucket('s3bucketconnectproject').objects.all():
    print(obj)

s3.ObjectSummary(bucket_name='s3bucketconnectproject', key='data1.csv')

In [20]:
# Read csv file 
obj = s3.Bucket('s3bucketconnectproject').Object('data1.csv').get()
data1 = pd.read_csv(obj['Body'], index_col=0)

In [21]:
data1.head()

   x  y
0  1  a
1  2  b
2  3  c

In [22]:
data2 = pd.DataFrame({'x': [10, 20, 30], 'y': ['aa', 'bb', 'cc']})
data3 = pd.concat([data1, data2], ignore_index = True)
data3

    x   y
0   1   a
1   2   b
2   3   c
3  10  aa
4  20  bb
5  30  cc

In [23]:
data3.to_csv('data3.csv')

In [24]:
# Write to the s3 Bucket
test = s3.Bucket('s3bucketconnectproject').Object('data1.csv').put(Body=open('data3.csv', 'rb'))

In [25]:
obj = s3.Bucket('s3bucketconnectproject').Object('data1.csv').get()
data4 = pd.read_csv(obj['Body'], index_col=0)
data4

    x   y
0   1   a
1   2   b
2   3   c
3  10  aa
4  20  bb
5  30  cc

In [26]:
# Download file and read from disc
s3.Bucket('s3bucketconnectproject').download_file(Key='data1.csv', Filename='data2.csv')
pd.read_csv('data2.csv', index_col=0)

    x   y
0   1   a
1   2   b
2   3   c
3  10  aa
4  20  bb
5  30  cc

In [36]:
client = boto3.client('s3')
metadata_bucket = client.head_bucket(
    Bucket='s3bucketconnectproject'
)

In [37]:
print(metadata_bucket)

{'ResponseMetadata': {'RequestId': 'JMQBVYZT63VPHAE9', 'HostId': 'KpPvRX3mKPs9Yqr5vJeEyoFiwI7uKzDESxRSn+GF9hqi2zOFi4ZixDL7TQrl4rlM8IpkZzk3SrY=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'KpPvRX3mKPs9Yqr5vJeEyoFiwI7uKzDESxRSn+GF9hqi2zOFi4ZixDL7TQrl4rlM8IpkZzk3SrY=', 'x-amz-request-id': 'JMQBVYZT63VPHAE9', 'date': 'Tue, 21 Feb 2023 09:51:52 GMT', 'x-amz-bucket-region': 'us-east-1', 'x-amz-access-point-alias': 'false', 'content-type': 'application/xml', 'server': 'AmazonS3'}, 'RetryAttempts': 0}}

In [38]:
metadata_object = client.head_object(
    Bucket='s3bucketconnectproject',
    Key='data1.csv',
)

In [39]:
print(metadata_object)

{'ResponseMetadata': {'RequestId': '5N3ZZVCY0QFRN7ZM', 'HostId': 'u6w/88d/mKKtrad3OF/KoqHEVPhAsHvJuZMcT+M6b8pmOxJrcpu6U3LXTGuRA1GpZuTyrtvonuI=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'u6w/88d/mKKtrad3OF/KoqHEVPhAsHvJuZMcT+M6b8pmOxJrcpu6U3LXTGuRA1GpZuTyrtvonuI=', 'x-amz-request-id': '5N3ZZVCY0QFRN7ZM', 'date': 'Tue, 21 Feb 2023 09:53:35 GMT', 'last-modified': 'Tue, 21 Feb 2023 09:43:09 GMT', 'etag': '"329c5ddc604db75c28b4f082120058c5"', 'x-amz-server-side-encryption': 'AES256', 'accept-ranges': 'bytes', 'content-type': 'binary/octet-stream', 'server': 'AmazonS3', 'content-length': '54'}, 'RetryAttempts': 0}, 'AcceptRanges': 'bytes', 'LastModified': datetime.datetime(2023, 2, 21, 9, 43, 9, tzinfo=tzutc()), 'ContentLength': 54, 'ETag': '"329c5ddc604db75c28b4f082120058c5"', 'ContentType': 'binary/octet-stream', 'ServerSideEncryption': 'AES256', 'Metadata': {}}